# Java 컴파일 파일
*.class

# 로그 파일
*.log

# BlueJ 파일
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# 패키지 파일
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*

# IDE - IntelliJ IDEA
.idea/
*.iml

# gateway-service의 build만 예외
build
common/build
config-server/build
eureka-service/build
ai-service/build
magazine-service/build
notification-service/build
question-service/build
quiz-service/build
user-service/build
target/

# Gradle
.gradle/

# 설정 파일 및 민감한 정보
secrets.yml
**/*secret*
!**/*secret*.example
common/src/main/resources/application.yml

# 마크다운 파일
**/*.md

# 기타
nul

*.env